# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
dist_old/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
/dist_old/
/depricated/
/src/data/images/
/src/data/sunback_images/
/src/sunback_images/
/src/fits
/src/renders
/src/function.zip

docs/_build
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/
docs/_static/
docs/_templates/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

/aws/
/devtools/scripts/
/resources/jythonMusic/
/venv2/

/renders/
/src/run/renders
/src/run/image_times
/image_times
/resources/jythonMusic/
/src/run/dep/
/src/utils/noise_gate/image-noise-gate/

G:/sunback_images/background_server/rainbow/imgs/*
src/run/G:/sunback_images/background_server/rainbow/imgs/*
.DS_Store
image_times*
*params.txt
*.xml
*.iml
*.idea
settings.json
*.idea/*

.git-backup/
*.png
*.fits

rainbow/*.png
.git-backup/*
src/run/run_server_lingon.timestamp
*.pdf
*.avi
*.heic
*.mp4
*.exr
*.yuv
*.zip
